<%# Wird für das generelle Template genutzt. Header / Footer etc. %>
<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %> <%# Hier wird der Body-Inhalt von dem index.html reingeladen %>
  </body>
</html>
